{
  "plugins": ["transform-class-properties", "transform-object-rest-spread"],
  "presets": [
    "flow", 
    ["env", { 
      "targets": {
        "node": "12.13"
      }, 
      "modules": false
    }]
  ],
  "ignore": [
   
  ]
}
