# commented ones are actually needed

.git
.github
.nyc_output
.vscode
#build
coverage
docs
mongo-scripts
nats-server
#node_modules
#scripts
software-audit-package
test-results
var-pryv
**/test
**/test-helpers
.gitignore
.eslintrc.yml
.licenser.yml
.mocharc.js
application.log
README.md
yarn-error.log
