# commented ones are actually needed

.git
.github
.vscode
decls
#dist
docs
flow-typed
licenser
licensing
mongo-scripts
#scripts
test-results
var-pryv
**/test
**/test-helpers
.eslintrc.js
.flowconfig
.gitignore
.mocharc.js
application.log
#babel.config.json
README.md
