.idea
.project
.settings
.DS_Store
.eslintcache
node_modules/
components/*/node_modules/
**/coverage.html
**/npm-debug.log
**/profiling-output.txt
**/v8.log
!node_modules/components
proxy/nginx.conf
service-core.iml
/out
.nyc_output/
build_tag
build/core/release.tar
build/hfs/release.tar
build/preview/release.tar
build/release.tar
software-audit-package
/test-results/
coverage/
var-pryv
*.log
learn-config
build/test/pryv/*/data
build/test/pryv/*/log

# netbeans IDE
nbproject/

# scripts install nats-server/ in the root directory
nats-server/
gnatsd/
