.idea
.project
.settings
.DS_Store
analysis-output
node_modules/
components/*/node_modules/
**/coverage.html
**/npm-debug.log
**/profiling-output.txt
**/v8.log
!node_modules/components

proxy/nginx.conf
service-core.iml
out
