.idea
.project
.settings
.DS_Store
node_modules/
components/*/node_modules/
**/coverage.html
**/npm-debug.log
**/profiling-output.txt
**/v8.log
!node_modules/components
proxy/nginx.conf
service-core.iml
yarn-error.log
/flow-coverage/
/out
.nyc_output/
dist
build/build_tag
build/core/release.tar
build/hfs/release.tar
build/preview/release.tar
build/release.tar
test_results/