---
logs:
  console:
    active: true
    level: info
    colorize: true
  airbrake:
    active: false
    projectId: ''
    key: ''
database:
  host: 127.0.0.1
  port: 27017
  name: pryv-node
nats:
  uri: 'nats://127.0.0.1:4222'

integrity:
  isActive:
    attachments: true
    events: true
    accesses: true
  algorithm: sha256

backwardCompatibility:
  systemStreams:
    prefix:
      isActive: false
  tags:
    isActive: true
    rootStreamId: 'tags-migrated'
    streamIdPrefix: 'tag-migrated-'
    