name: Pryv-core-server CI

on: 
  pull_request:
    branches:
      - master
  push:
    branches:
      - feature/workflow-pipeline
jobs:
  build:

    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        node-version: [12.13]

    steps:
    - name: Download master branch
      uses: actions/checkout@v2
    
    - name: Setup Node.js with version ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
        always-auth: true
        registry-url: https://npm.pkg.github.com
        
    - name: Login to github
      uses: webfactory/ssh-agent@v0.3.0
      with:
        ssh-private-key: ${{ secrets.SSH_PRYV_PRIVATE_KEY }}

    - name: Install gnatsd, mongodb, influxdb
      run: sh build/build-dev
         
    - name: yarn setup
      run: yarn setup
      env: 
        NODE_AUTH_TOKEN: ${{ secrets.GIT_PRYV_TOKEN }}
      
    - name: yarn release
      run: yarn release
      env: 
        NODE_AUTH_TOKEN: ${{ secrets.GIT_PRYV_TOKEN }}
        
    - name: yarn test
      run: |
        ls
        yarn test