name: Pryv service-core CI

on: 
  pull_request:
    branches:
      - '*'
  push:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        node-version: [16.4.1]

    steps:
    - name: Download master branch
      uses: actions/checkout@v2
    
    - name: Install Node.js with version ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    
    # there is one private package (lib-release) used as npm package, so we need 
    # to authenticate
    - name: Login to github
      uses: webfactory/ssh-agent@v0.4.1
      with:
        ssh-private-key: ${{ secrets.TECH_PRYV_SSH_KEY }}

    - name: Install & run nats-server, mongodb, influxdb
      run: sh build/build-dev
      
    - name: Unicode npm package blacklist ips that request download too many times so it is installed before yarn install
      run: sudo apt-get install unicode-data
      
    - name: yarn setup
      run: yarn setup
      
    - name: yarn release
      run: yarn release
        
    - name: yarn test
      run: yarn test