name: Pryv-core-server deployment workflow

on: 
  push:
    branches:
      - feature/workflow-pipeline
jobs:
  build:

    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        node-version: [12.13]

    steps:
    - name: Download master branch
      uses: actions/checkout@v2
        
    #- uses: fusion-engineering/setup-git-credentials@v2
    #  with:
    #    credentials: https://${{ secrets.GIT_PRYV_USERNAME }}:${{ secrets.GIT_PRYV_TOKEN }}@github.com/
        
    - name: Login to github
      uses: webfactory/ssh-agent@v0.3.0
      with:
          ssh-private-key: ${{ secrets.SSH_PRYV_PRIVATE_KEY }}
          
    - name: Setup Node.js with version ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
        always-auth: true
        registry-url: https://npm.pkg.github.com
                
    - name: Login to the docker containers registry
      uses: azure/docker-login@v1
      with:
        login-server: ${{ secrets.REGISTRY_PRYV_SERVER }}
        username: ${{ secrets.REGISTRY_PRYV_USERNAME }}
        password: ${{ secrets.REGISTRY_PRYV_PASSWORD }}

    - name: Download base image and change the tag
      run: |
        docker pull ${{ secrets.REGISTRY_PRYV_SERVER }}/pryv/base:1.3.40
        docker tag "${{ secrets.REGISTRY_PRYV_SERVER }}/pryv/base:1.3.40" "pryv/base:1.3.40"
        
    - name: Build and deploy
      run: |
        cd build 
        ./build