name: Pryv-core-server deployment workflow

on: 
  push:
    tags:
      - '*'
jobs:
  build:

    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        node-version: [16.4.1]

    steps:
    - name: Download master branch
      uses: actions/checkout@v2

    - name: Login to github
      uses: webfactory/ssh-agent@v0.4.1
      with:
          ssh-private-key: ${{ secrets.SSH_PRYV_PRIVATE_KEY }}
          
    - name: Install Node.js with version ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
        always-auth: true
        registry-url: https://npm.pkg.github.com
                
    - name: Login to the docker containers registry
      uses: azure/docker-login@v1
      with:
        login-server: ${{ secrets.REGISTRY_PRYV_SERVER }}
        username: ${{ secrets.REGISTRY_PRYV_USERNAME }}
        password: ${{ secrets.REGISTRY_PRYV_PASSWORD }}

    - name: Unicode npm package blacklist ips that request download too many times so it is installed before yarn install
      run: sudo apt-get install unicode-data
      
    # needed to run here, as we are fetching deps from private repos, inside docker builder is not authenticated
    - name: yarn setup
      run: yarn setup
        
    - name: Build and deploy
      run: ./build/build_workflow